# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

# Settings for a TLS enabled server.
http {
    gzip on;
    gzip_min_length  256;
    gzip_proxied     any;
    gzip_comp_level 5;
    gzip_types
      application/atom+xml
      application/javascript
      application/json
      application/ld+json
      application/manifest+json
      application/rss+xml
      application/vnd.geo+json
      application/vnd.ms-fontobject
      application/x-font-ttf
      application/x-web-app-manifest+json
      application/xhtml+xml
      application/xml
      font/opentype
      image/bmp
      image/svg+xml
      image/x-icon
      text/cache-manifest
      text/css
      text/plain
      text/vcard
      text/vnd.rim.location.xloc
      text/vtt
      text/x-component
      text/x-cross-domain-policy;
    gzip_vary on;
    gzip_disable     "msie6";

    tcp_nopush  on;

    include       /etc/nginx/mime.types;
    sendfile        off;

    upstream django {
       server unix:///run/{{ project_name }}/{{ project_name }}.sock; # for a file socket
       # server 127.0.0.1:8001; # for a web port socket (we'll use this first)
    }

    server {
        listen 443;
        server_name www.{{ inventory_hostname }};
        return 301 $scheme://{{ inventory_hostname }}$request_uri;
    } 

    server {
        listen 80;
        server_name  _;
        rewrite ^ https://$host$request_uri? permanent;
    } 

    server {
        listen       443 ssl http2 default_server;
        listen       [::]:443 ssl http2 default_server;
        
        root         /usr/share/nginx/html;

        ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem; 

        ssl_ciphers HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;
  
        ssl_dhparam /etc/nginx/ssl/dhparams.pem;
        ssl_session_timeout 30m;
        ssl_session_cache shared:SSL:10m;
        ssl_buffer_size 8k;
        add_header Strict-Transport-Security max-age=31536000; 

        # Load configuration files for the default server block.
        #include /etc/nginx/default.d/*.conf;

        # the domain name it will serve for
        server_name {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }} www.{{ inventory_hostname }};
        charset     utf-8;

        location ~ ^/favicon\.(\w+)$ {
           alias /opt/webapps/{{ project_name }}/static/img/favicon.$1;
        } 

        location ~ ^/apple-touch-icon.png$ {
           alias /opt/webapps/{{ project_name }}/static/img/apple-touch-icon.png;
        }

        location ~ ^/apple-touch-icon-precomposed.png$ {
           alias /opt/webapps/{{ project_name }}/static/img/apple-touch-icon-precomposed.png;
        } 

        # Django media
        location /media/  {
          expires 1y;
          alias /opt/webapps/{{ project_name }}/media/;  # your Django project's media files - amend as required
        }

        location /static/ {
          expires 1y;
          alias /opt/webapps/{{ project_name }}/static/; # your Django project's static files - amend as required
        }

        # Finally, send all non-media requests to the Django server.
        location / {
          include    /etc/nginx/uwsgi_params;
          uwsgi_pass 127.0.0.1:3031;
        } 

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }

} 
