[uwsgi]
socket = 127.0.0.1:3031
chdir = /opt/webapps/{{ project_name }}
wsgi-file = {{ project_name }}/wsgi.py
master = true
processes = 4
threads = 2
stats = 127.0.0.1:9191
virtualenv = /home/{{ remote_user }}/.virtualenvs/{{ inventory_hostname }}
