[program:uwsgi_runner]
stdout_logfile = /var/log/supervisor/uwsgi-runner-out.log
stderr_logfile = /var/log/supervisor/uwsgi-runner-err.log
logfile_maxbytes = 50MB
logfile_backups = 10
command = /home/{{ remote_user }}/.virtualenvs/{{ inventory_hostname }}/bin/uwsgi --emperor /etc/uwsgi/vassals /opt/webapps/{{ project_name }}/{{ project_name }}/uwsgi.ini
